# ─── Kong Gateway Config ───────────────────────────────────────────────────
# Change this to your Kong host (EC2 public IP or domain)
REACT_APP_KONG_URL=

# Change this to the consumer key matching your kong.yaml
REACT_APP_KONG_KEY=
